/*
  Game Space pre
*/
#iGS {
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  overflow: hidden;
}


/*
  Primary Terrain Definitions
*/
div.cPT {
  background: #050;
  position: absolute;
  top: 0;
  left:0;
}