/*
  Game Space pre
*/
#iGS {
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  overflow: hidden;
  font-size: 15pt;
  background: #55A;  
}

#iMM {
    position: absolute;
    top:-1000em;
}

/*
  Game Object Definitions
*/
div.cGO {
  position: absolute;  
  bottom:1000%
}


/*
  Primary Terrain Definitions
*/
div.cPT {

}

/*the Avatar Buggy*/
div.cAB { 
  font-size:7pt;
  color: #FFF;
  transform-origin: 0% 100%;
  transform: rotate(-20deg);
}


/*the Avatar wheels*/
div.cAW { 
  font-size:5pt;
  color: #000;
  background:#555;
  transform-origin: 50% 50%;
  
}